@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>
        <p>Vi indsamler følgende data om dig for at sikre dig den bedst mulige oplevelse på vores side:</p>
        <ul>
            <li>Søgehistorik</li>
            <li>IP adresse</li>
            <li>NemID login</li>
            <li>Købshistorik</li>
            <li>Emails</li>
            <li>Eboks breve</li>
            <li>Kreditkortsoplysninger</li>
        </ul>
        <p>Samtidig har vi allerede sørget for at du accepterer alle cookies, så du selv slipper for det!</p>
    </main>
</div>